# test directory
test lex/*.yy.c
test lex/*.exe
test lex/*.l.bak

# flex and yacc
flex and yacc/*.yy.c
flex and yacc/*.tab.c
flex and yacc/*.tab.h
flex and yacc/*.exe
flex and yacc/*.l.bak
flex and yacc/*.y.bak

Flex_and_Yacc_Python/*.zip
